@media screen and (min-width: 1800px){
    html {
        font-size: 100%; 
    }

    .box_careful{
        padding: 0 10%;
        margin-top: 30px;
    }

    .box_about{
        padding: 0 10%;
    }

    .testimony_ruler{
        padding: 0 10%;
    }

    .service{
        padding: 0 10%;
        margin-top: 30px;
    }

    .contact_ways{
        padding: 0 10%;
        margin-bottom: 60px;
    }
    
    .form{
        border-left: 3px solid #817b6b;
    }

    .gps{
        border-right: 3px solid #533d24;
    }

    .media{
        padding: 40px 10%;
    }

    .footer{
        padding: 10px 10%;
    }
}

@media screen and (max-width: 880px){
    html{
        font-size: 50%;
    }

    .testimony_ruler button:hover{
        background-color: #533d24;
    }
}
    
@media screen and (max-width: 770px){
    .container{
        width: 98%;
    }
    
    .menu{
        padding: 0 3%;
    }

    .text_careful{
        padding: 0 2% 370px;
    }

    .box_careful{
        flex-wrap: wrap;
    }

    .box_careful .box{
        width: 200px;
        height: 200px;
        margin: 10px auto 0;
    }


    .form form input[name=nome]{
        width: 100%;
        margin-bottom: 12px;
    }
    
    .form form input[name=telefone]{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 700px){
    .menu ul{
        display: none;
    }

    .menu_toggle{
        width: 40px;
        cursor: pointer;
        position: absolute;
        right: 3%;
    }

    .menu_toggle .one,
    .two,
    .three {
        background-color: #817b6b;
        height: 5px;
        width: 40px;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu.on {
        position: relative;    
        max-width: 100vw;
        height: 100vh;
        background-color: #817b6b;
        z-index: 10;
    }

    .menu.on img{
        display: none;
    }

    .menu.on ul {
        width: 100%;
        display: flex;
        text-align: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .menu.on ul li {
        width: 100%;
        margin: 15px 0;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }

    .menu.on ul li a{
        margin-left: 0px;
    }

    .menu.on .menu_toggle {
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .menu.on .menu_toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
        background-color: black;
    }

    .menu.on .menu_toggle .two {
        opacity: 0;
    }

    .menu.on .menu_toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
        background-color: black;
    }

    .container{
        flex-wrap: wrap;
        position: relative;
    }

    .start_text{
        width: 100%;
    }

    .text{
        margin-top: 5%;
    }

    .start_image{
        width: 100%;
        padding: 0 5%;
    }
}

@media screen and (max-width: 590px){
    .image_about{
        width: 90%;
    }

    .about_text{
        width: 100%;
        text-align: right;
        margin-top: 30px;
    }

    .box_about .ia{
        order: -1;
    }

    .testimony_ruler{
        flex-wrap: wrap;
    }

    .box_testimony{
        width: 95%;
        order: -1;
        margin-bottom: 40px;
    }

    .testimony{
        padding-bottom: 30px;
    }

    .service_container{
        flex-wrap: wrap;
    }

    .service{
        margin-top: 35px;
    }

    .form{
        width: 100%;
        border-right: 0;
    }

    .gps{
        width: 100%;
        border-left: 0;
    }

    .box_careful{
        padding: 0 10%;
    }

    .info_site p{
        width: 50%;
    }
}

@media screen and (max-width: 499px){
    .text{
        margin-top: 15%;
    }

    .start_button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start_button button{
        width: 50%;
    }

    .buttonr{
        margin-top: 10px;
    }

    .start_image{
        flex-wrap: wrap;
    }

    .image_berofe{
        width: 80%;
        max-height: 50%;
    }
     
    .image_after{
        width: 80%;
        max-height: 50%;
        margin-top: 1%;
        margin-left: 25%;
    }
    
    .square{
      border: 5px solid #533d24;
      width: 70%;
      height: 60%;
      position: absolute;
      top: 22%;
      left: 18%;
    }

    .text_careful{
        padding: 0 2% 760px;
    }
}