*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

html,body{ 
	height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

/*      SCROOL      */

.hidden_off{
    opacity: 0;
    transition: opacity 0.5s linear;
}

.hidden_on{
    opacity: 1;
}

/*      HEADER MENU     */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto 0;
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
}

ul{
    text-align: right;
    width: 100%;
}

ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 1.6rem;
    cursor: pointer;
}

ul li a:hover{
    border-bottom: 1px solid black;
    font-weight: bold;
}

.menu img{ 
    width: 10rem;
}

/*      HEADER INICIO ESCRITA       */

.start_text{
    width: 40%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
}

.text{
    text-align: center;
    margin-top: 25%;
}

.text h1{
    font-size: 4.5rem;
    color: #533d24;
}

.text p{
    color: #817b6b;
    margin-top: 20px;
    font-size: 2rem;
}

.start_button{
    text-align: center;
    margin-top: 30px;
}

.start_button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
}

.start_button button{
    width: 13.5rem;
    height: 3.2rem;
    cursor: pointer;
}

.start_button button:hover{
     font-weight: bold
}

.start_button .buttonl{
    background-color: #533d24;
    border: none;
}

.start_button .buttonr{
    border: 1px solid #533d24;
}

.start_button .buttonr a{
    color: #533d24;
}

.min_title{
    text-align: center;
    margin-top: 2.5rem;
    color: #817b6b;
    font-style: italic;
    font-size: 1.6rem;
}

/*      HEADER INICIO IMAGEM        */

.start_image{
    width: 60%;
    display: flex;
    position: relative;
    margin-top: 30px;
}

.start_image img{
    width: 100%;
    height: 100%;
}

.image_berofe{
    width: 50%;
    max-height: 50%;
    z-index: 5;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}
 
.image_after{
    width: 50%;
    max-height: 50%;
    margin-top: 25%;
    margin-left: 1%;
    z-index: 4;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}

.square{
  border: 5px solid #533d24;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 22%;
  left: 25%;
}

/*      SESSAO CUIDADOS     */

.careful{
    width: 100%;
    background-color: #533d24;
    margin-top: 30px;
    padding: 60px 0 50px;
    position: relative;
}

.text_careful{
    text-align: center;
    padding: 0 2% 140px;
}

.text_careful h2{
    font-size: 3rem;
    color: white;
}

.text_careful p{
    font-size: 1.8rem;
    margin-top: 25px;
    color: white;
}

.box_careful{
    width: 100%;
    display: flex;
    position: absolute;
    top: 200px;
}

.box_careful .box{
    width: 200px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    color: #817b6b;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px;
}

.box_careful .box h2{
    margin-top: 5%;
    font-size: 2.5rem;
}

.box_careful .box .icon_careful{
   width: 55%;
   height: 55%;
   border: 1px solid #817b6b;
   border-radius: 50%;
   margin: 10% auto 0;
   display: flex;
   align-items: center;
}

.box_careful .box .icon_careful i{
    margin: auto;
    font-size: 5rem;
}

/*      SESSAO SOBRE        */

.about{
    width: 100%;
    background-color: #e1d7cc;
    padding-bottom: 60px;
    padding-top: 120px;
}

.about_title{
    text-align: center;
}

.about_title h2{
    font-size: 3rem;
}

.about_title p{
    margin-top: 25px;
    font-size: 1.8rem;
    padding: 0 2%;
}

/*      SESSAO SOBRE 1      */

.about .box_about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.image_about{
    width: 50%;
    max-width: 1000px;
    height: 100%;
}

.image_about img{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}

.about_text{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0 3%;
}

.about h2{
    font-size: 2.5rem;
    font-style: italic;
}

.about p{
    margin-top: 25px;   
    font-size: 1.8rem;
}

/*      SESSAO DEPOIMENTOS      */

.testimony{
    background-color: #533d24;
    width: 100%;
    padding: 60px 0;
}

.testimony_title{
    text-align: center;
    color: white;
}

.testimony_title h2{
    font-size: 3rem;
}

.testimony_title p{
    margin-top: 25px;
    font-size: 1.8rem;
}

/*      SLIDER DEPOIMENTOS      */

.testimony_ruler{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 50px;
}

.box_testimony{
    width: 50%;
    background-color: white;
    padding: 0 2% 20px;
    opacity: 0;
    position: absolute;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}

.on{
    opacity: 1; 
    position: static;
    margin: auto;
    transition: 1s;
}

.testimony_ruler button{
    margin: auto;
    border: none;
    background-color: #533d24;
    cursor: pointer;
    border-radius: 50%;
    padding: 1% 2%;
    transition: 0.5s;
    z-index: 10;
}

.testimony_ruler button:hover{
    background-color: #817b6b;
}

button i{
    font-size: 6rem;
    margin: auto;
    color: white;
}

.img_h2{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #817b6b;
}

.box_testimony .img_dpmt{
    width: 10rem;
    margin: 3% 0 3% 7%;
}

.img_dpmt img{
    width: 100%;
    border-radius: 50%; 
}

.box_testimony h2{
    width: 100%;
    font-size: 2.5rem;
    color: #817b6b;
    align-items: center;
    margin: auto;
    padding-left: 30px;
}

.box_testimony p{
    width: 100%;
    padding: 20px 7% 25px;
    font-size: 1.8rem;
}

/*      SESSAO TRABALHOS        */

.work{
    width: 100%;
    padding: 60px 0;
}

.title_work{
    text-align: center;
    padding: 0 2%;
}

.title_work h2{
    font-size: 3rem;
}

.title_work p{
    font-size: 1.8rem;
    margin-top: 25px;
}

.service_container{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.service{
    width: 100%;
}

.service h2{
    color: #533d24;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

.box_service{
    border: 1px solid #533d24;
    text-align: center;
    width: 95%;
    margin: 20px auto 0;
}

.service_value{
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #817b6b;
}

.service_value h3{
    font-size: 2.4rem;    
}

.service_value p{
    padding-top: 5px;
    padding-bottom: 5px;    
}

/*      SESSAO CONTATO      */

.contact{
    width: 100%;
    padding-top: 30px;
}

.title_contact{
    text-align: center;
    padding: 0 2%;
}

.title_contact h2{
    font-size: 3rem;
}

.title_contact p{
    font-size: 1.8rem;
    margin-top: 25px;
}

.contact_ways{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.form{
    width: 50%;
    border-top: 3px solid #817b6b;
    border-right: 3px solid #817b6b;
    border-bottom: 3px solid #817b6b;
    display: flex;
}

.form form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    margin-top: 7%;
}

.form form input[type=text]{
    line-height: 3rem;
    padding-left: 5px;
}

.form form input[name=nome]{
    width: 48%;
}

.form form input[name=telefone]{
    width: 48%;
    margin-left: 4%;
}

.form form input[name=email]{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.form textarea[name=mensagem]{
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding-left: 5px;
    line-height: 3rem;
}

.form form input[type=submit]{
    width: 30%;
    height: 30px;
    margin: 12px auto;
    background-color: white;
    border: 1px solid #533d24;
    color: #533d24;
    cursor: pointer;
}

.form form input[type=submit]:hover{
    font-weight: bold;
    border: 2px solid #533d24;
}

.gps{
    width: 50%;
    border-top: 3px solid #533d24;
    border-left: 3px solid #533d24;
    border-bottom: 3px solid #533d24;
}

.mapouter{
    text-align:right;
    width:100%;
    height:350px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    width:100%;
    height:350px;
}

.gmap_iframe{
    width:100%!important;
    height:350px!important;
}

/*      SESSAO SIGA-NOS     */

.media{
    width: 100%;
    padding: 30px 0;
    background-color: #e1d7cc;
}

.title_media{
    text-align: center;
}

.ruler_media{
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
}

.ruler_media i{
    font-size: 5rem;
}

.ruler_media i:hover{
    font-size: 4.9rem;
}

.ruler_media a{
    color: black;
    margin: auto;
    cursor: pointer;
}

/*      FOOTER      */

.footer{
    background-color: #171615;
    padding-bottom: 60px;
}

.title_footer{
    width: 100%;
    padding-top: 60px;
    display: flex;
    padding-left: 60px;
}

.img_rdp img{
    width: 100%;
}

.img_rdp{
    max-width: 50px;
    max-height: 50px;
}

.title_footer h2{
    color: white;
    font-style: italic;
    padding: 14px 0 0 24px;
    font-size: 2rem;
}

.info_site{
    width: 100%;
    margin-top: 60px;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.info_site p{
    color: white;
    width: 25%;
    padding-bottom: 60px;
    text-align: center;
    font-style: italic;
}

.line{
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: white;
}

.info_author{
    padding-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.info_author h2{
    width: 100%;
    color: white;
    font-size: 1.6rem;
    font-style: italic;
}