*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

html,body{ 
	height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

/*      HEADER MENU     */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto 0;
    padding-bottom: 150px;
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
}

ul{
    text-align: right;
    width: 100%;
    
}

ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
    font-size: 1.6rem;
    cursor: pointer;
}

ul li a:hover{
    border-bottom: 1px solid black;
    font-weight: bold;
}

.menu img{ 
    width: 10rem;
}

/*      HEADER INICIO ESCRITA       */

.inicio_escrita{
    width: 40%;
    padding-right: 2%;
    
}

.inicio_texto{
    text-align: center;
    margin-top: 100px;
}

.inicio_texto h1{
    font-size: 4.5rem;
    color: #533d24;
}

.inicio_texto p{
    color: #817b6b;
    margin-top: 20px;
    font-size: 2rem;
}

.inicio_botao{
    text-align: center;
    margin-top: 30px;
}

.inicio_botao a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
}

.inicio_botao button{
    width: 13.5rem;
    height: 3.2rem;
    cursor: pointer;
}

.inicio_botao button:hover{
     font-weight: bold
}

.inicio_botao .botao1{
    background-color: #533d24;
    border: none;
}

.inicio_botao .botao2{
    border: 1px solid #533d24;
}

.inicio_botao .botao2 a{
    color: #533d24;
}

.inicio_frase{
    text-align: center;
    margin-top: 2.5rem;
    color: #817b6b;
    font-style: italic;
    font-size: 1.6rem;
}

/*      HEADER INICIO IMAGEM        */

.inicio_imagem{
    width: 60%;
    display: flex;
    position: relative;
    margin-top: 30px;
}

.imagem_antes{
    background: white url(/image/banner.jpg) no-repeat center;
    width: 50%;
    height: 80%;
    z-index: 5;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}
 
.imagem_depois{
    background: white url(/image/banner.jpg) no-repeat center;
    width: 50%;
    height: 80%;
    margin-top: 20rem;
    margin-left: 1%;
    z-index: 4;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}

.quadrado{
  border: 5px solid #533d24;
  width: 50%;
  height: 90%;
  position: absolute;
  top: 25%;
  left: 25%;
}

/*      SESSAO CUIDADOS     */

.cuidados{
    width: 100%;
}

.texto_cuidados{
    
}

.texto_cuidados h2{
    
}

.texto_cuidados p{
    
}

.box_cuidados{
    
}

.box_cuidados .box{
      
}

.box_cuidados .box h2{
    
}

.box_cuidados .box .icon_cuidados{
   
}

.box_cuidados .box .icon_cuidados i{
    
}

/*      SESSAO SOBRE        */

.sobre{
    width: 100%;
    background-color: #e1d7cc;
    padding-bottom: 100px;
}

.sobre_titulo{
    padding-top: 150px;
    text-align: center;
}

.sobre_titulo h2{
    font-size: 30px;
}

.sobre_titulo p{
    margin-top: 25px;
    font-size: 18px;
    padding: 0 2%;
}

/*      SESSAO SOBRE 1      */

.sobre_mobi{display: none;}

.sobre .box_sobre{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 70px;
}

.imagem_sobre{
    max-width: 50%;
}

.imagem_sobre img{
    width: 100%;
    -webkit-box-shadow: 5px 15px 50px -20px;
    -moz-box-shadow: 5px 15px 50px -20px;
    box-shadow: 5px 15px 50px -20px; 
}

.sobre_escrita{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}

.sobre h2{
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
}

.sobre p{
    margin-top: 25px;
    padding: 0 10%;
    font-size: 18px;
}

/*      SESSAO DEPOIMENTOS      */

.depoimentos{
    background-color: #533d24;
    width: 100%;
    padding-bottom: 60px;
}

.depoimentos_titulo{
    text-align: center;
    padding-top: 60px;
}

.depoimentos_titulo h2{
    color: white;
    font-size: 30px;
}

.depoimentos_titulo p{
    color: wheat;
    margin-top: 30px;
    font-size: 18px;
}

/*      SLIDER DEPOIMENTOS      */

.depoimentos_regua{
    width: 100%;
    margin-top: 50px;
}

.box_single{
    width: 100%;
    padding: 0 6%;
}

.box_depoimentos{
    width: 100%;
    height: 300px;
    background-color: white;
    padding: 0 2%;
}

.img_h2{
    width: 80%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
}

.box_depoimentos .img_dpmt{
    width: 16%;
    height: 15%; 
    background-color: #817b6b;
    border: 1px solid #817b6b;
    border-radius: 60px;
}

.img_dpmt img{
    width: 100%;
    background-size: cover;
    border-radius: 70px;
}

.box_depoimentos h2{
    width: 72%;
    font-size: 20px;
    margin-top: 30px;
    padding-left: 5%;
    color: #817b6b;
}

.box_depoimentos p{
    width: 100%;
    padding: 0 7%;
    margin-top: 20px;
    border-top: 1px solid #817b6b;
    padding-top: 20px;
}

/*      ESTILO DO SLICK SLIDER      */

.slick-dotted ul{
    list-style-type: none;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.slick-dotted li{
    display: inline-block;
    margin: 0 7px;
}

.slick-dotted button:focus{
    outline: 0;
}

.slick-dotted li button{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #817b6b;
    border-width: 0;
    background: #817b6b;
    opacity: 6;
    cursor: pointer;
}

li.slick-active button{
    background: black;
    color: black;
}

/*      SESSAO TRABALHOS        */

.trabalhos{
    margin-top: 80px;
    width: 100%;
    padding-bottom: 60px;
}

.titulo_trabalhos{text-align: center;}

.titulo_trabalhos h2{font-size: 30px;}

.titulo_trabalhos p{
    font-size: 18px;
    margin-top: 25px;
    padding: 0 2%;
}

.serviço_titulo{
    width: 100%;
    display: flex;
    padding: 0 2%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.serviço_titulo h2{
    width: 50%;
    margin-left: 22%;
    margin-left: 30px;
    text-align: center;
    color: #533d24;
    font-size: 40px;
    font-style: italic;
}

.serviço{
    width: 100%;
    display: flex;
    padding: 0 2%;
}

.box_serviço{
    border: 1px solid #533d24;
    width: 50%;
    text-align: center;
    margin-left: 30px;
}

.serviço_custo{
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    color: #817b6b;
}

.serviço_custo p{
    padding-top: 5px;
    padding-bottom: 5px;    
}

/*      SESSAO CONTATO      */

.contato{
    width: 100%;
}

.titulo_contato{text-align: center;}

.titulo_contato h2{font-size: 30px;}

.titulo_contato p{
    font-size: 18px;
    margin-top: 25px;
    padding: 0 2%;
}

.contato_meios{
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.formulario{
    width: 50%;
    border-top: 3px solid #817b6b;
    border-right: 3px solid #817b6b;
    border-bottom: 3px solid #817b6b;
}

.formulario form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    margin-top: 7%;
}

.formulario form input[type=text]{
    line-height: 30px;
    padding-left: 5px;
}

.formulario form input[name=nome]{
    width: 48%;
}

.formulario form input[name=telefone]{
    width: 48%;
    margin-left: 4%;
}

.formulario form input[name=email]{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.formulario textarea[name=mensagem]{
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding-left: 5px;
    line-height: 30px;
}

.formulario form input[type=submit]{
    width: 30%;
    height: 30px;
    margin: 12px auto;
    background-color: white;
    border: 1px solid #533d24;
    color: #533d24;
    cursor: pointer;
}

.gps{
    width: 50%;
    position: relative;
    border-top: 3px solid #533d24;
    border-left: 3px solid #533d24;
    border-bottom: 3px solid #533d24;
}

.mapouter{
    text-align:right;
    width:100%;
    height:350px;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    width:100%;
    height:350px;
}

.gmap_iframe{
    width:100%!important;
    height:350px!important;
}

/*      SESSAO SIGA-NOS     */

.siganos{
    width: 100%;
    padding-bottom: 60px;
    background-color: #e1d7cc;
}

.titulo_siganos{
    text-align: center;
    padding-top: 60px;
}

.titulo_siganos h2{font-size: 30px;}

.titulo_siganos p{
    font-size: 18px;
    margin-top: 25px;
    padding: 0 2%;
}

.regua_siganos{
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

.regua_siganos i{
    font-size: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.regua_siganos a{color: black;}

/*      FOOTER      */

.rodape{
    background-color: #171615;
    padding-bottom: 60px;
}

.titulo_rodape{
    padding-top: 30px;
    display: flex;
    padding-left: 60px;
}

.img_rdp img{
    width: 100%;
}

.img_rdp{
    max-width: 50px;
    max-height: 50px;
}

.titulo_rodape h2{
    color: white;
    font-style: italic;
    padding-left: 20px;
    padding-top: 14px;
    font-size: 20px;
}

.info_estudio{
    width: 100%;
    margin-top: 60px;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.info_estudio p{
    color: white;
    width: 25%;
    padding-bottom: 60px;
    text-align: center;
    font-style: italic;
}

.linha{
    width: 90%;
    height: 1px;
    margin: 0 auto;
    background-color: white;
}

.info_direitos{
    padding-top: 60px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.info_direitos h2{
    width: 100%;
    color: white;
    font-size: 16px;
    font-style: italic;
}

.info_direitos p{
    color: white;
    width: 50%;
    padding-top: 40px;
    font-style: italic;
}


